<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetStore Test Suite" parallel="methods" thread-count="5">
    <listeners>
        <listener class-name="com.petstore.api.listeners.TestListener" />
    </listeners>

    <test name="PetStore API Tests">
        <classes>
            <!-- Post request to create new pet should run first -->
            <class name="com.petstore.api.tests.PostCreateNewPetTest" />
            <!-- Get request to fetch the created pet should run second -->
            <class name="com.petstore.api.tests.GetPetTest" />
        </classes>
    </test>
</suite>
