<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetStore Test Suite" parallel="methods" thread-count="5">
    <listeners>
        <listener class-name="com.petstore.api.listeners.TestListener" />
    </listeners>

    <test name="PetStore API Tests">
        <classes>
            <class name="com.petstore.api.tests.PetStoreTests"/>
        </classes>
    </test>
</suite>
